body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgba(238, 204, 128, 1);
  margin-left: 20px;
  text-align: center;
}

.nodeContainer {
  width: 50%;
  padding: 1rem;
  border: solid;
  border-radius: 12px;
  background-image: linear-gradient(
    to right,
    rgba(160, 33, 217, 1),
    rgba(238, 204, 128, 1)
  );
}

.nodeContainer:before {
  padding: 1rem;
}

input,
button {
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.running {
  background-color: darkred;
}

.stopped {
  background-color: darkgreen;
}

.starting {
  background-color: orange;
}

.stopping {
  background-color: orange;
}

.waiting_unlock {
  background-color: orange;
}

.errorMessage {
  color: red;
}

#nodenamecheck {
  margin-left: 50px;
}

.available {
  color: green;
  margin-left: 12px;
}

.taken {
  color: red;
  margin-left: 12px;
}
